* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
    
}

body {
    margin: 0 auto;
    width: 1280px;
}

h1 {
    color: green;
}

#logo {
    position: relative;
    left: 150px;
    top: 15px;
    height: 60px;
}

header {
    height: 100px;
    background-color: lightgray;
}

nav {
    position: relative;
    left: 400px;
    top: -35px;
}

nav li {
    list-style-type: none;
}

nav li:nth-child(-n+2) {
    border-right: 5px solid black;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 2em;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    margin-right: 25px;
    margin-left: 25px;
}

nav ul {
    display: flex;
}

nav a:hover {
    color: lightslategray;
    
}

#noNight {
    position: relative;
    left: 1050px;
    bottom: 80px;
}

#noNight:hover {
    color: lightslategray;
}

.moon {
    color: black;
    
}

#hero {
    margin-bottom: -5px;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 3em;
}

#shop {
    
    
    
}

#shop h2, #contact h2 {
    width: 1280px;
    text-align: center;
    background-color: rgb(251, 161, 112);
    padding-bottom: 5px;
}



#drones img, #cams img {
    background-color: lightgray;
    height: 300px;
    width: 300px;
}

#about {
    margin-top: 50px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    font-size: 1.5em;
    line-height: 2em;
}

#about h2 {
    text-align: center;
}

.aboutPhoto {
    width: 600px;
}

#abt1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#abt1 img {
    margin-left: 30px;
}

#abt1 p, #abt2 p {
    margin-left: 30px;
    margin-right: 30px;
    background-color: light;
}

#abt2 {
    border-top: 5px solid black;
    padding-top: 50px;
    margin-top: 50px;
}

#abt2 p {
    width: 580px;
    position: absolute;
    top: 1295px;
}

#abt2 img {
    margin-left: 51%;
}

#about {
    background-color: lightgray;
    padding-top: 40px;
    margin-top: 0;
    padding-bottom: 20px;
}

h3 {
    font-size: 1.8em;
    font-family: "Work Sans", sans-serif;
}

#shop {
    
}

#drones {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#drones, #cams {
    width: 620px
}


